<header class="navbar">
  <h1 class="logo"><span>Dil</span>ity</h1>
  <button class="menu-btn" mat-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>

  <nav>
    <ul>
      <li><a routerLink="/details" routerLinkActive="active">Workdays</a></li>
      <li><a routerLink="/add-workday" routerLinkActive="active" (click)="clearDate()">Add Workday</a></li>
      <li><a routerLink="/add-employees" routerLinkActive="active" (click)="clearDate()">Add Employees</a></li>
      <li><a routerLink="/about" routerLinkActive="active" (click)="clearDate()">About</a></li>
    </ul>
  </nav>

  <div class="workday-date" *ngIf="isDateProper()">
    <h3>{{workdayDate | date: 'd.MM.yyyy'}}</h3>
  </div>
</header>

<mat-menu [class]="'nav-menu'" #menu="matMenu">
  <a mat-menu-item routerLink="/details" routerLinkActive="active">Workdays</a>
  <a mat-menu-item routerLink="/add-workday" routerLinkActive="active" (click)="clearDate()">Add Workday</a>
  <a mat-menu-item routerLink="/add-employees" routerLinkActive="active" (click)="clearDate()">Add Employees</a>
  <a mat-menu-item routerLink="/about" routerLinkActive="active" (click)="clearDate()">About</a>
</mat-menu>