<mat-spinner *ngIf="displayLoading"></mat-spinner>

<div class="container" *ngIf="!displayError">
    <div class="panels-container">
        <div class="top-list-container">
            <div class="list-description-left">
                <h3>
                    Choose the employees who worked on that day.
                </h3>
                <p class="note"> *Each person must be assigned at least one action</p>
            </div>
            <div class="date-container-right">
                <date-picker (changedWorkdayDate)="onDateChangeCreateDayActions($event)"></date-picker>
                <p class="day-note" *ngIf="displayDateError">
                    {{dayNote}}
                </p>
            </div>
        </div>
        <mat-accordion>
            <mat-expansion-panel hideToggle disabled>
                <mat-expansion-panel-header class="title-panel">
                    <p class="name">Name</p>
                    <p class="surname">Surname</p>
                    <p class="identifier">Identifier</p>
                </mat-expansion-panel-header>
            </mat-expansion-panel>
            <mat-expansion-panel *ngFor="let employee of choosenEmployees; let index" expanded>
                <mat-expansion-panel-header class="employee-panel">
                    <p class="name">{{employee.firstName}}</p>
                    <p class="surname">{{employee.lastName}}</p>
                    <p class="identifier">{{employee.employeeId}}</p>
                    <p class="remove-employee-button">
                        <button mat-icon-button (click)="removeEmployee(employee)">
                            <mat-icon>remove_circle</mat-icon>
                        </button>
                    </p>
                </mat-expansion-panel-header>
                <div class="extended-panel-container">
                    <!-- right side -->
                    <div class="right-side-panel">
                        <mat-list *ngIf="employee" fxLayout="row">
                            <mat-list-item
                                *ngFor="let action of getUserActionsOfEmployee(employee).actions; let i = index">
                                <p (click)="removeActionFromUserActionsOnPosition(employee, i)">
                                    {{i + 1}}. {{action.type}}
                                </p>
                            </mat-list-item>
                        </mat-list>
                    </div>
                    <!-- left side -->
                    <div class="left-side-panel">
                        <h4 class="actions-description">Select actions for this employee</h4>
                        <p class="tip" *ngIf="getUserActionsOfEmployee(employee).actions.length > 0">
                            click on action to remove
                        </p>
                        <mat-form-field appearance="fill" class="select">
                            <mat-label>Action type</mat-label>
                            <mat-select name="action-type" required (selectionChange)="selected($event, employee)">
                                <mat-option *ngFor="let type of ActionType.values(); let i = index" [value]="type">
                                    {{i + 1}}. {{type}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <button class="add-employee-button" color="primary" mat-mini-fab (click)="onPlusButtonClick();">
        <mat-icon>add</mat-icon>
    </button>
    <div class="submit-container">
        <button [disabled]="disableSubmit" class="submit" color="primary" mat-raised-button (click)="onSubmit()">
            Submit
        </button>
    </div>
</div>

<h1 *ngIf="displayError">
    <p>{{error}}</p>
</h1>