* > btn{
    color: #333;
    font-size: 1.1vw;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.container{
    position: relative;
    width: 60%;
    margin: auto;
    align-items: center;
    align-content:space-between;
    text-align: center;
    top: 200px;
    padding: 20px;
    gap: 20px;
}

.container .panel{
    width: 100%;
    justify-content: center;
    margin: auto;
}

.date{
    place-self: start;
}

.container .panel .panel-elements{
    width: 100%;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    margin: auto;
}

.container .panel .panel-elements .remove-btn{
    color: #1565C0;
    margin-left: auto;
}
.container .panel .panel-elements .element{
    width: 30%;
}

.extended-panel{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.day-note{
    color: red;
    padding: 0;
}

.flex-left{
    place-self: start;
}

.remove{
    color: rgb(170, 4, 4);
}

.add{
    background: #28a745 ;
    color: #fff;
}

.add-icon{
    color: #fff;
}

.add-btn{
    margin-left:auto;
}
.add-employee{
    background-color:#2196F3;
}
.btn:hover:enabled{
    opacity: 0.8;
}

mat-list{
    width: 120px;
    height: 200px;
    overflow: auto; 
    text-align: center;
}
mat-list-item:hover{
    color: #fff;
    background: #2196F3;
    opacity: 0.3;
}

.tip{
    color: #333;
    font-size: 12px;
    opacity: 0.8;
}

.info{
    margin: auto;
    color: #333;
    padding: 10px;
}

.title p{
    font-size: 15px;
    color: black;
    opacity: 0.8;
}
/* mobile */
 @media(max-width: 840px){ 
    .container, .container .panel{
        width: 95%;
        padding: 0px;
        font-size: 1rem;
    }

    .container .panel{
        width: 100%;
    }
    .extended-panel{
        flex-direction: column;
    }
    .container .panel .panel-elements{
        padding: 0px;
    }

    .date{
        place-self: center;
    }
} 
