/* containers */
.container{
    position: relative;
    width: 60%;
    top: 200px;
    margin: auto;
}
.flex-row{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    width: 100%;
}

.flex-column{
    display: flex;
    flex-direction: column;
}
.panel-container{
    width: 100%;
    color: #333;    
}

.employees-container{
    margin: auto;
    text-align: center;
    padding: 0 20px 20px 20px;
}

/* grid */
.grid-container{
    padding: 20px 10px 20px 10px;
    height: 200px;
    display: grid;
    column-gap: 50px;
}

.col1{
    grid-column: 1;
    align-self: center;
}

.col2{
    display: flex;
    flex-direction: column;
    grid-column: 2;
    align-self: center;
    justify-content: center;
    align-items: center;
}

.col3{
    grid-column: 3;
}
.col2 button{
    display: block;
    width: 170px;
}

.column-splitter{
    padding: 5px 0 5px 0;
    text-align: center;
}
/* panels */
.panel{
    width: 90%;
    margin: auto;
}
.actions-list{
    height: 150px;
    overflow: auto;
}

.add-employee-panel{
    margin: auto;
    width: 100%;
}
/* utilieties */

mat-list-item:hover{
    background: #CCC;
    color: #fff;
    opacity: 0.6;
}

.header{
    text-align: center;
    padding: 20px 20px 10px 20px;
}

h2, h1{
    padding: 0 0 30px 0;
    text-align: center;
    background : #fff;
}

.element{
    width: 30%;
    text-align: center;
}

.save-btn{
    display: flex;
    width: 80%;
    margin: auto;
    padding: 20px 0 20px 0;
    gap: 30px;
    justify-content: flex-end;
}

.save-btn button.save:enabled{
    background: rgb(68, 124, 31);
    color: #fff;
}

.btn:hover:enabled{
    opacity: 0.8;
}
/* mobile */
@media(max-width: 840px){ 
    .container, .container .panel{
        width: 90%;
        font-size: 1rem;
    }

    .extended-panel{
        flex-direction: column;
    }
    .container .panel .panel-elements{
        padding: 0px;
    }
    .extended-panel{
        height: 500px;
        display: flex;
        flex-direction: column;
    }
    mat-list{
        width: 40%;
        height: 100px;
        padding: 0;
        align-self: center;
        text-align: center;
        margin: auto;
    }
}  
