<div class="container">
    <h3>Add Employee</h3>
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="name" required>
    </mat-form-field>
    <p class="error" *ngIf="isNameEmpty">Name cannot be empty</p>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Surname</mat-label>
        <input matInput [(ngModel)]="surname" required>
    </mat-form-field>
    <p class="error" *ngIf="isSurnameEmpty">Surname cannot be empty</p>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Identifier</mat-label>
        <input matInput type="number" [(ngModel)]="employeeId" required>
    </mat-form-field>
    <p class="error" *ngIf="isIdInvalid">Identifier must be 5-digit number</p>
    <br>
    <button mat-flat-button color="primary" (click)="onSubmitClick()">Submit</button>
    <br>
    <p *ngIf="this.displayEmployeeExistError" class="error" style="margin-top: 2%;">Employee with this identifier is
        already added </p>


</div>