<mat-spinner *ngIf="displayLoading" class="spinner"></mat-spinner>

<section class="container">
  <div class="date-picker">
    <date-picker [labelDate]="workdayDate" (changedWorkdayDate)="onDateChangeBasicDetailsDate($event)"
      *ngIf="displayDatePicker">
    </date-picker>
  </div>

  <table *ngIf="displayError == false" mat-table [dataSource]="dataSource" multiTemplateDataRows
    class="mat-elevation-z8">
    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay; let i = index">
      <th mat-header-cell *matHeaderCellDef> {{ column }} </th>
      <td mat-cell *matCellDef="let element" (click)="setEmployeeDetails(element.employeeId)">
        {{ element[basicDetailsProperties[i]] }}
      </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
        <div class="expanded-element" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <app-extended-details-row [employeeDetails]="employeeDetails">
          </app-extended-details-row>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="element-row"
      [class.expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null  : element;">
    </tr>
    <tr mat-row *matRowDef="let row;
   columns: ['expandedDetail']" class="expandable-element"></tr>
  </table>

  <h1 *ngIf="displayError" class="no-data-error">
    <p>{{ errorAlert }}</p>
  </h1>
</section>