  * > .no-data-error{
    font-size: 1.1vw;
  }
  .container{
    position: relative; 
    top: 100px;
    width: 80%;
    margin: auto;
    padding-bottom: 50px;
  }

  table {
    width: 100%;
    table-layout: fixed;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
  }
  @media(max-width: 840px){
    * > .no-data-error{
      font-size: 0.8rem;
    }
    .date-picker{
      text-align: center;
    }
    .container{
      width: 95%;
    }
 
  }

 /* angular tables */
  tr.expandable-element {
    height: 0;
  }
  
  tr.element-row:not(.expanded-row):hover {
    background: fff;
  }
  
  tr.element-row:not(.expanded-row):active {
    background: #fff;
  }
  
  .element-row td {
    border-bottom-width: 0;
  }
  
  .expanded-element{
    overflow: hidden;
  }
