<p>
    Aplikacja na podstawie listy pracowników, wraz z czynnościami które wykonywali w danych dniu oblicza ich wydajność a
    także kilka innych szczegółów jak np. przepracowane minuty (aplikacja ma przypisane dla każdej z aktualnie używanych
    przeze mnie czynności czas potrzebny na ich wykonanie).
    Dane przechowywane są w bazie danych SQL, oraz plikach w katalogu "Data". Dane można tworzyć z poziomu aplikacji po
    czym dodawane są do bazy danych,
    a także generowane są odpowiednie pliki.
    Przetworzone dane można wyświetlić w zakładce "Workdays".
</p>