*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    
    font-family: 'Roboto,' "Helvetica Neue", sans-serif;
    line-height: 1.6;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

h1,h2,h3{
    font-weight: 300;
    line-height:1.2;
}

.nav-menu{
    background:#333;
}

.nav-menu .mat-menu-item{
    color: #fff;
}

.nav-menu .mat-menu-item:hover{
    background: #3e3e3e;
    color: #000;
}

.loading, .no-data-error{
    position: relative !important;
    margin: auto !important;
    top: 200px !important;
    text-align: center !important;
}


