<div [className]="employeeDetails?.leastPerformedType != employeeDetails?.mostPerformedType ?
     'container-four-elements' : 'container-three-elements'">
    <div class="title">Efficiency</div>
    <div class="title"> Performed minutes</div>
    <div class="title"> Least performed type</div>

    <div class="detail-value efficiency">
        {{employeeDetails?.efficiency | percent}}
    </div>

    <div class="detail-value performed-minutes">
        {{employeeDetails?.performedMinutes}}
    </div>

    <div class="detail-value least-performed-type">
        {{actionType[employeeDetails?.leastPerformedType]}}
    </div>

    <ng-container *ngIf="employeeDetails?.leastPerformedType != employeeDetails?.mostPerformedType">
        <div class="title">
            Most performed type
        </div>

        <div class="detail-value most-performed-type">
            {{actionType[employeeDetails?.mostPerformedType]}}
        </div>
    </ng-container>
</div>