<div [className]="employeeDetails?.leastPerformedType != employeeDetails?.mostPerformedType ?
     'container container-four-elements' : 'container container-three-elements'">
    <div class="header top">Efficiency</div>
    <div class="header top"> Performed minutes</div>
    <div class="header bottom"> Most performed type</div>

    <div class="value top efficiency">
        {{employeeDetails?.efficiency | percent}}
    </div>

    <div class="value top performed-minutes">
        {{employeeDetails?.performedMinutes}}
    </div>

    <div class="value bottom most-performed-type">
        {{actionType[employeeDetails?.mostPerformedType]}}
    </div>

    <ng-container *ngIf="employeeDetails?.leastPerformedType != employeeDetails?.mostPerformedType">
        <div class="header bottom">
            Least performed type
        </div>

        <div class="value bottom least-performed-type">
            {{actionType[employeeDetails?.leastPerformedType]}}
        </div>
    </ng-container>
</div>